page-home {
    background: url('../assets/imgs/math_bgnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .logo_text {
        padding: 15px 30px;
        box-shadow: 0 0 15px #000;
        text-shadow: 0 0 15px #000;
        height: fit-content;
        width: fit-content;
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: auto;

        color: #fff;
        font-size: 5rem;
    }

    ion-footer:before{
        display: none;
    }
}
