@font-face{
    font-family: Lobster;
    src: url('../assets/fonts/Lobster-Regular.ttf');
}
@font-face{
    font-family: Hind Siliguri;
    src: url('../assets/fonts/HindSiliguri-Regular.ttf');
}
@font-face{
    font-family: Hind Siliguri Bold;
    src: url('../assets/fonts/HindSiliguri-Bold.ttf');
}
@font-face{
    font-family: Inconsolata;
    src: url('../assets/fonts/Inconsolata-Regular.ttf');
}
@font-face{
    font-family: Inconsolata Bold;
    src: url('../assets/fonts/Inconsolata-Bold.ttf');
}